%p#notice= notice
.well.well-lg
  .row
    %h3.col-lg-8 Trips
    %div.col-lg-2
    = link_to 'New Trip', new_trip_path, class: "btn btn-success btn-lg active col-lg-2"

.container-fluid
  %table.table.table-hover
    %thead
      %tr
        %th Driver
        %th Source
        %th Destination
        %th Departure time
        %th Number of seats
    %tbody
      - @trips.each do |trip|
        %tr
          %td= trip.driver.name
          %td= trip.source.name
          %td= trip.destination.name
          %td= trip.departure_time
          %td= trip.number_of_seats
          %td= link_to 'Show', trip
          %td= link_to 'Edit', edit_trip_path(trip)
          %td= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' }
