%p#notice= notice
%h1 Pickups
%table
  %thead
    %tr
      %th Driver
      %th Source
      %th Destination
      %th Departure time
      %th{:colspan => "3"}
  %tbody
    - @pickups.each do |pickup|
      %tr
        %td= pickup.driver
        %td= pickup.source
        %td= pickup.destination
        %td= pickup.departure_time
        %td= link_to 'Show', pickup
        %td= link_to 'Edit', edit_pickup_path(pickup)
        %td= link_to 'Destroy', pickup, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Pickup', new_pickup_path
