%p#notice= notice
%p
  %strong Driver:
  = @pickup.passenger.name
%p
  %strong Source:
  = @pickup.source.name
%p
  %strong Destination:
  = @pickup.destination.name
%p
  %strong Departure time:
  = @pickup.departure_time
= link_to 'Edit', edit_pickup_path(@pickup)
|
= link_to 'Back', pickups_path
